<h2>{{t 'words.title'}} {{#link-to 'words.new' classNames="btn btn-primary add-word pull-right"}}{{t 'words.add'}}{{/link-to}}</h2>
<hr>
{{show-message message=error type='danger'}}
<table class="table table-striped words">
  <thead>
    <tr>
      <th>{{t 'index.languageCombo'}}</th>
      <th>{{t 'index.word'}}</th>
      <th>{{t 'index.translation'}}</th>
      <th>{{t 'words.category'}}</th>
      <th>{{t 'words.action'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td><span class="flag-icon flag-icon-{{unbound language1}}"></span> > <span class="flag-icon flag-icon-{{unbound language2}}"></span></td>
        <td>{{translation1}}</td>
        <td>{{translation2}}</td>
        <td>{{category}}</td>
        <td>
          <button class="btn btn-default btn-xs" {{action 'editWord' this}}>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"><span>
          </button>
          <button class="btn btn-default btn-xs" {{action 'deleteWord' this}}>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"><span>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
