<h2><span class="flag-icon flag-icon-{{unbound language1}}"></span> > <span class="flag-icon flag-icon-{{unbound language2}}"></span> <small>{{category}}</small> <span class="badge">{{wordsCorrect}}/{{wordsTotal}}</span><div class="pull-right half-size">{{progress-bar progress=wordsAttempted total=wordsTotal}}</div></h2>
<hr>
{{outlet}}


