<tr>
  <td><span class="flag-icon flag-icon-{{unbound language1}}"></span> > <span class="flag-icon flag-icon-{{unbound language2}}"></span></td>
  <td>{{translation1}}</td>
  <td>{{translation2}}</td>
  <td>{{score}}</td>
</tr>
