<div class="jumbotron">
  <div class="row">
    <h2>{{t 'index.bestWords'}}</h2>
    <table class="table table-striped">
      {{partial 'partials/index/header-row'}}
      <tbody>
        {{#each model}}
          {{partial 'partials/index/hiscore-row'}}
        {{/each}}
      </tbody>
    </table>
    <h2>{{t 'index.worstWords'}}</h2>
    <table class="table table-striped">
      {{partial 'partials/index/header-row'}}
      <tbody>
        {{#each model}}
          {{partial 'partials/index/hiscore-row'}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
